<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platforma Django by KB</title>
</head>
<style>
    body {
        background: black;
        color: white;
    }

</style>
<body>
    {% include 'navibar.html' %}
    <h1>OOOOOO</h1>
    <!-- <h1>Wspolne MENU</h1> -->

    {% block content %}

    replace me

    {% endblock %}
</body>
</html>