{% extends 'baza.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
</head>
<body>
    {% block content %}

    <h1>Kontakt: 123 456 789</h1>

    <p>{{ users }},{{ phone_number }},{{ numbers }}</p>

    <ul>
    {% for nr in numbers %}
        <li> {{ forloop.counter }} -> {{ nr }} </li>
    {% endfor %}
    </ul>

    {% endblock %}
    
</body>
</html>